POSTGRES_DB=banking
POSTGRES_USER=banking
POSTGRES_PASSWORD=banking

DB_URL=jdbc:postgresql://localhost:5432/banking
DB_USERNAME=banking
DB_PASSWORD=banking

JWT_SECRET=change-this-secret-key-change-this-secret-key
JWT_EXPIRATION_MINUTES=60

JWT_REFRESH_EXPIRATION_DAYS=14

